services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: job_orchestrator
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build:
      context: ../
      dockerfile: docker/Dockerfile
    ports:
      - "8000:8000"
    environment:
      POSTGRES_SERVER: db
      POSTGRES_PORT: 5432
      DATABASE_URL: postgresql+asyncpg://postgres:password@db:5432/job_orchestrator
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
